# AWS
boto3
apache-airflow-providers-amazon==8.24.0

# Reddit API
praw==7.7.1
prawcore==2.4.0

# DuckDB
duckdb==1.0.0

# Others
requests
pydantic
python-dotenv
zstandard==0.22.0
numpy==1.26.4

# Development
ruff
pytest
pytest-cov